<p>
  <strong>Commenter:</strong>
  <%= comments.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comments.body %>
</p>



<p>
  <%= link_to 'Destroy Comment', [comments.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
