<h1>Welcome to the Blog</h1>
<h2>Please Enter your Information</h2>

<ul>
  <% @users.each do |user| %>
  <li>
    <%= link_to user.message, user_path(user) %> | <small>
    <%= time_ago_in_words(user.created_at) %> ago </small>
  </li>
  <% end %>
</ul>
